@model BusinessLayer.Models.Auth.LoginForm

@{
    ViewBag.Title = "Вход";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form method="post" asp-controller="Auth" asp-action="Login">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="Email" value="@Model.Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" name="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-success">Войти</button>
    <a class="btn btn-outline-danger" asp-controller="Home" asp-action="Index">Назад</a>
</form>

<div>
    <span>Еще нет аккаунта? <a asp-controller="Auth" asp-action="Register">Зарегистрируйтесь</a></span>
</div>