@model BusinessLayer.Models.Auth.RegisterForm

@{
    ViewBag.Title = "Регистрация";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form method="post" asp-controller="Auth" asp-action="Register">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="Name" value="@Model.Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="Email" value="@Model.Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" name="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-success">Зарегистрироваться</button>
    <a class="btn btn-outline-danger" asp-controller="Home" asp-action="Index">Назад</a>
</form>